{
    MARGIN: 0;
    PADDING: 0;
}
.flex-conteiner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items:center;
    height: 50px;
    background-color: rgb(252, 71, 71);
}

body{
    background-color: rgb(224, 47, 47);
}
.banner{
    width: 100%;
    max-width: 2000px;
    display: block;
    margin: 0 auto;
}
main{
    width:100%
    max-width: 2000px;
    display: block;
    margin: 0 auto;

    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 30px;
}
.tarjetas{
    background-color: rgb(247, 84, 84);
    border-radius: 6px;
    box-shadow: 0 2px 8px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s, box-shadow 0.3s;

}
.tarjetas img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    align-items: center;
}
.final{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: brown;
}